<%- include('layout/header'); %>

<h1><%= title %></h1>

<form method="POST" action="/users/register">
      <div class="form-group">
        <label for="inputName">Name</label>
        <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" required>
      </div>
      <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" name="email" id="inputEmail" placeholder="Email" required>
      </div>
      <div class="form-group">
        <label for="inputUsername">Username</label>
        <input type="text" class="form-control" name="username" id="inputUsername" placeholder="Username" required>
      </div>
      <div class="form-group">
        <label for="inputPass">Password</label>
        <input type="password" class="form-control" name="password" id="inputPass" placeholder="Password" required>
      </div>
      <div class="form-group">
        <label for="inputConfirmPass">Confirm Password</label>
        <input type="password" class="form-control" name="password2" id="inputConfirmPass" placeholder="Confirm Password" required>
      </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>

<%- include('layout/footer'); %>
