html {
  min-height: 100%;
  position: relative;
}
body {
    margin-bottom: 100px;
}
.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: 60px;
    background-color: #ccc;
}


    
  

